/* =================== GLOBAL STYLES =======================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.strategy__title,
.card-team__name,
.card-portfolio__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/*-------- SOCIAL-MEDIA -----*/
.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media__item {
  width: 40px;
  height: 40px;
}

.social-media__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media__link:hover,
.social-media__link:focus {
  background-color: #31d0aa;
}

.social-media__icon {
  fill: #f4f4fd;
}
/*------------- /SOCIAL-MEDIA -----*/
/* =================== /GLOBAL STYLES =======================*/




/*================= HEADER =================*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header .logo {
  margin-right: 76px;
}

.header__logo_color {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: #404bbf;
}

.nav__link.active {
  color: #404bbf;
}

.nav__link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;

  position: absolute;
  left: 0;
  bottom: -1px;
}

.address {
  font-style: normal;
}

.address__list {
  display: flex;
  gap: 40px;
}

.address__link {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #404bbf;
}
/*================= /HEADER =================*/

/* ================= HERO ========= */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;

  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* ================= /HERO ========= */



/*================== STRATEGY ========*/
.strategy {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy__list {
  display: flex;
  gap: 24px;
}

.strategy__item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.strategy__title {
  margin-bottom: 8px;
}

.strategy__image {
  margin-bottom: 8px;
  height: 112px;
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*================ /STRATEGY ========*/



/* =============== TEAM ============ */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team__list {
  display: flex;
  gap: 24px;
}

.card-team {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-team__thumb {
  width: 264px;
  height: 260px;
}

.card-team__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-team__info {
  padding: 32px 0;
  text-align: center;
}

.card-team__name {
  margin-bottom: 8px;
}

.card-team__position {
  margin-bottom: 8px;
}

/*================ /TEAM ============= */



/* =============== PORTFOLIO ========= */
.portfolio {
  padding: 120px 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card-portfolio {
  flex-basis: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio__info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-portfolio__title {
  margin-bottom: 8px;
}

.card-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-portfolio:hover .overlay{
  transform: translateY(0);
}
/* =============== /PORTFOLIO ========= */



/* =============== FOOTER ============== */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__content {
  max-width: 264px;
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__logo_color {
  color: #f4f4fd;
}

.footer__text {
  color: #f4f4fd;
}

.social__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer .social-media {
  gap: 16px;
}
/* ============== /FOOTER ============== */

