/* Global styles */
body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

a {
   text-decoration: none;
}

ul,
ol {
   list-style-type: none;
}



/* header */
.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.header__logo {
   color: #2e2f42;
}

.nav__link {
   font-weight: 500;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.nav__link:hover,
.nav__link:focus {
   color: #404bbf;
}

.nav__link:active {
   text-decoration: underline;
}

.address {
   font-style: normal;
}

.address__link {
   color: currentColor;
}

.address__link:hover,
.address__link:focus {
   color: #404bbf;
}


.order,
.footer {
   background: #2e2f42;
}

.title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
}

.button {
   font-family: "Roboto", sans-serif;
   background: #4d5ae5;
   cursor: pointer;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #fff;
}

.button:hover,
.button:focus {
   background: #404bbf;
}


.section-title {
   color: #2e2f42;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
}

.strategy__title,
.card-team__name,
.card-portfolio__title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.team {
   background-color: #f4f4fd;
}

.card-team {
   background-color: #ffffff;
}

.footer__logo {
   color: #f4f4fd;
}
.footer__text {
   color: #f4f4fd;
}